@import "../../variables";
.playlist {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
  width: 20vw;
  min-height: 50vh;
  height: fit-content;
  border-radius: $default-radius;
  color: $font-color;
}

.image {
  border-radius: $image-radius;
  height: fit-content;
}
