@import "variables";
html,
body {
  margin: 0;
  background-color: $primary-color;
  height: 100vh;
  width: 100vw;
}

.mainComponent {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  color: $font-color;
}
